body {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    flex-direction: column;

    padding: 0 15px;


}

.container-nav {
    max-width: 1500px;
    margin: 0.5rem auto 0 auto;
    grid-template-areas:
        "ph1 ph3 ph4"
        "ph2 ph3 ph5";
    gap: 1rem;

}

.container-nav>img:nth-child(1) {
    grid-area: ph1;
}

.container-nav>img:nth-child(2) {
    grid-area: ph2;
}

.container-nav>img:nth-child(3) {
    grid-area: ph3;
}

.container-nav>img:nth-child(4) {
    grid-area: ph4;
}

.container-nav>img:nth-child(5) {
    grid-area: ph5;
}



img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0.5rem auto 0.5rem auto;
}

.container-cards1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

}


@media (min-width:1200px) {

    body,
    header {
        max-width: 970px;

    }

    .container-nav,
        {
        display: grid;
    }


}

@media (min-width:992px) {

    body,
    header {
        max-width: 750px;
    }

    .container-nav {
        display: grid;
    }

}

@media (min-width:767px) {

    body,
    header {
        max-width: none;
    }


}

nav.navbar-light {
    margin-right: -1rem;
    margin-left: -1rem;

}

.navbar-brand1 {
    color: beige;
    font-size: 2rem;


}

a {
    text-decoration: none;
    padding: 1rem;
    color: black;

}

i {
    padding: 1rem;
}

.navbar-brand2>span {
    font-family: 'Kaushan Script';
    font-size: 3rem;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.col3 {
    grid-area: col3;
}

.col4 {
    grid-area: col4;
}

footer {
    display: grid;
    grid-template-areas: "col1 col2"
        " col3 col4";
    grid-template-columns: 1fr;
    gap: 1rem;
    color: rgb(59, 57, 57);
}

body{
    background-color: aliceblue;
}